<div class = "modal" id= "modal1">
  <div class = "modal-content">
    <div class = "container">
        <h3 class="title">Sign up</h3>

        <%= form_for @user, url: user_registration_path do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div>
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div>
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>

          <div>
            <%= f.submit "Sign up", class: "modal-trigger waves-effect waves-light btn" %>
          </div>
        <% end %>
        <p>Already have an account? <%= link_to 'Login', '#modal2', class: "modal-close" %></p>
      </div>
  </div>
</div>
