<!-- Scroll to Top Button -->
<a class="waves-effect waves-light btn" id="tpBtn" onclick="topFunction()"><i class="material-icons left">swap_vert</i>Top</a>

<!-- Image #1 -->
<div class="parallax-container">
  <div class="parallax"><%= image_tag('background3.jpg') %></div>
  <h1 class="center-align" id='logo'>Cache</h1>
</div>

<!-- Introduction Text Section #1 -->
<%= render 'homepage/intro' %>

<!-- Image #2 -->
<div class="parallax-container">
  <div class="parallax"><%= image_tag('background2.jpg') %></div>
</div>

<!-- Financial Brief Text Section #2 -->
<div class="section white">
  <div class="row container">
    <h2 class="header center">Breaking it down</h2>
    <p class="grey-text text-darken-3 lighten-3">Lets assume you're earning $3,000 per month. And you save a healthy 20% of that. The table below shows the annual saving and awards you would receive.
    <br><br>
    For this analysis, we use the annual mid-point balance to determine what your average awards would be, but it all depends on how you save!</p>

    <br>

    <%= render 'homepage/calculation' %>

    <br>

    <p>At the end of the year you will be getting back <%= number_to_currency(@twelve_percent_of_savings * 0.5, precision: 0) %> worth of stuff just for saving <%= number_to_currency(@annual_savings /12, precision: 0) %> per month for 1 year. Now thats a pretty decent deal, you're happy and so is Hamlet. <i class="em em-pig"></i></p>
    <p>Out of the <%= number_to_currency(@twelve_percent_of_savings * 0.5, precision: 0) %>, you get <%= number_to_currency(@twelve_percent_of_savings * 0.15, precision: 0) %> in cash and <%= number_to_currency(@twelve_percent_of_savings * 0.35, precision: 0) %> worth of Cache rewards! You can spend the money however you like at the consumer partners, or choose from featured rewards and discounts in your Cache app!</p>
    <div class='row center-align'>
      <%= link_to('Financial Forecast', publicanalysis_path, :method => :get, class: "waves-effect waves-light btn") %>
    </div>
  </div>
</div>

<!-- Image #3 -->
<div class="parallax-container">
  <div class="parallax"><%= image_tag('background1.jpg') %></div>
</div>

<!-- FAQ Text Section #3 -->
<div class="section white">
  <div class="row container">
    <h2 class="header">Common Questions</h2>
    <p>Qn 1: How long do I have to keep my money in?</p>
    <p>Ans 1: You can take your money out whenever you like! Your monthly rewards are calculated based on the average daily balance for the month.</p>
    <p>Qn 2: Is it always a standard list of rewards we can choose from?</p>
    <p>Ans 2: Our list of rewards always changes and there is something for everyone.</p>
  <div class='row center-align'>
    <%= link_to 'Sign Up Here', '#modal1', class: "modal-trigger waves-effect waves-light btn" %>
  </div>
    <%= render 'homepage/signupmodal' %>
    <%= render 'partials/loginmodal' %>
  </div>

<!-- Image #4 -->
</div>
<div class="parallax-container">
  <div class="parallax"><%= image_tag('background5.jpg') %></div>
</div>

<!-- Partners Text Section #4 -->
<%= render 'homepage/partners' %>

<!-- Image #5 -->
<div class="parallax-container">
  <div class="parallax"><%= image_tag('background6.jpg') %></div>
</div>

<!-- For the scroll to top button -->
<script type="text/javascript">
window.onscroll = function () { scrollFunction()}

function scrollFunction () {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    document.getElementById('tpBtn').style.display = 'block'
  } else {
    document.getElementById('tpBtn').style.display = 'none'
  }
}
</script>
