<h1>COMPLETE YOUR BANK ACCOUNT DETAILS</h1>

<h2>Part 2 of 2</h2>

<h3>Bank Account Details</h3>

<%= form_for @bank_account_info, url: profileaccount_path, method: :put do |f| %>
<%= f.label :bank_name %>
  <% if @user.bank_account_info.bank_name.blank? %>
    <%= f.text_field :bank_name %>
  <% else %>
    : <%= @user.bank_account_info.bank_name %>
  <% end %>
<br>
  <%= f.label :bank_currency %>
  <% if @user.bank_account_info.bank_currency.blank? %>
    <%= f.text_field :bank_currency %>
  <% else %>
    : <%= @user.bank_account_info.bank_currency %>
  <% end %>
<br>
  <%= f.label :account_no %>
  <% if @user.bank_account_info.account_no.blank? %>
    <%= f.text_field :account_no %>
  <% else %>
    : <%= @user.bank_account_info.account_no %>
  <% end %>

<br>
  <%= f.label :name_on_account %>
  <% if @user.bank_account_info.name_on_account.blank? %>
    <%= f.text_field :name_on_account %>
  <% else %>
    : <%= @user.bank_account_info.name_on_account %>
  <% end %>
<br>
  <%= f.label :branch_code %>
  <% if @user.bank_account_info.branch_code.blank? %>
    <%= f.text_field :branch_code %>
  <% else %>
    : <%= @user.bank_account_info.branch_code %>
  <% end %>
<br>

<% if @user.bank_account_info.bank_name.present? &&
  @user.bank_account_info.bank_currency.present? &&
  @user.bank_account_info.account_no.present? &&
  @user.bank_account_info.name_on_account.present? &&
  @user.bank_account_info.branch_code.present? &&
  %>
      <%= link_to "Go back to Dashboard", save_path %>
  <% else %>

  <%= f.submit "Enter Bank Details"%>
<% end %>
  <p>I confirm that all information provided above are true
  and correct to the best of my knowledge and you may rely on the accuracy thereof.</p>

<% end %>



  <p>Your account information was approved.
 If you wish to update part 2 of your profile, please email us at cs@gmail.com.</p>
