<div class = "container">

  <br>
  <%= link_to "Back to Profile", edit_profile_path(current_user.id) %>

  <h3 class="title center">Change Password for: <%= current_user.email%></h3>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div >
      <%= f.label :password, 'Enter Your New Password:'%>
      <%= f.password_field :password, autocomplete: "off" %>
      <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div >
      <%= f.label :password_confirmation, 'Verify Your New Password:' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div >
      <%= f.label :current_password, 'Enter your existing password to verify request:' %><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>

    <div class='row center-align'>
      <%= f.submit "Update", class: "waves-effect waves-light btn" %>
    </div>
    <br>
  <% end %>


</div>
