<div class="container">
  <h3 class="title center">Savings Analysis</h3>

  <h5 class="center">Fill up your savings goals to compute an analysis of your savings.</h5>
  <br>
  <div class="row">

    <%= form_for @income, url: analysis_path(@income), class: "col s12", method: :put do |f| %>
    <div class="row">
      <div class="input-field col s4">
        <%= f.label :monthly_income %>
        <%= f.text_field :monthly_income %>
      </div>
      <div class="input-field col s4">
        <%= f.label :monthly_savings_goal %>
        <%= f.text_field :monthly_savings_goal %>
      </div>
      <div class="input-field col s4">
        <%= f.label :final_savings_goal %>
        <%= f.text_field :final_savings_goal %>
      </div>
    </div>
    <div class="row center">
      <%= f.submit "Update Savings Goals",class: "waves-effect waves-light btn"%>
    </div>
    <% end %>
  </div>

  <table>
   <thead>
       <th>Monthly Salary $</th>
       <th>Annual Salary $</th>
       <th>Savings Ratio %</th>
       <th>Annual Savings $</th>
       <th>Cache Awards</th>
       <th>Cash Back</th>
       <th>Total Incentives</th>
   </thead>
   <tbody>
     <tr>
       <td><%= @user.income.monthly_income %></td>
       <td><%= @user.income.monthly_income * 12 %></td>
       <td><%= 100 * @user.income.monthly_savings_goal / @user.income.monthly_income rescue 0%></td>
       <td><%= @user.income.monthly_savings_goal * 12%></td>
       <td><%= (@user.income.monthly_savings_goal * 12 * 0.045).round(0)%></td>
       <td><%= (@user.income.monthly_savings_goal * 12 * 0.015).round(0)%></td>
       <td><%= (@user.income.monthly_savings_goal * 12 * 0.06).round(0)%></td>
     </tr>
   </tbody>
  </table>

  <p>The following table shows you how quickly your savings and rewards can accumulate with Cache! We assume that over time your income and your savings will grow by a modest 10% a year. Based on this assumption, we have provided a hypothetical analysis that shows you what the next 10 years of your savings and rewards might look like with Cache.</p>
  <br>
  <table>
   <thead>
       <th># of Years</th>
       <th>Total Savings and Cash Back*</th>
       <th>Total Cache Awards</th>
       <th>Total Cash Back</th>
       <th>Total Incentives</th>
   </thead>
   <tbody>
     <tr>
       <td>1</td>
       <td><%= ((@user.income.monthly_savings_goal * 12) + (@user.income.monthly_savings_goal * 12 * 0.015)).round(0)%></td>
       <td><%= (@user.income.monthly_savings_goal * 12 * 0.045).round(0)%></td>
       <td><%= (@user.income.monthly_savings_goal * 12 * 0.015).round(0)%></td>
       <td><%= (@user.income.monthly_savings_goal * 12 * 0.06).round(0)%></td>
     </tr>
     <tr>
       <td>2</td>
       <td><%=
      (#  year 1
      (@user.income.monthly_savings_goal * 12) + (@user.income.monthly_savings_goal * 12 * 0.03) +
      #  year 2
      (@user.income.monthly_savings_goal * 12 * 1.1) + (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.015 * 1.1)).round(0)
       %></td>
       <td><%=
      (#  year 1
      (@user.income.monthly_savings_goal * 12 * 0.09) +
      #  year 2
      (@user.income.monthly_savings_goal * 12 * 0.045 * 1.1)).round(0)
       %></td>
       <td><%=
      (#  year 1
      (@user.income.monthly_savings_goal * 12 * 0.03) +
      #  year 2
      (@user.income.monthly_savings_goal * 12 * 0.015 * 1.1)).round(0)
       %></td>
       <td><%=
      (#  year 1
      (@user.income.monthly_savings_goal * 12 * 0.09) +
      #  year 2
      (@user.income.monthly_savings_goal * 12 * 0.045 * 1.1) +
      #  year 1
      (@user.income.monthly_savings_goal * 12 * 0.03) +
      #  year 2
      (@user.income.monthly_savings_goal * 12 * 0.015 * 1.1)).round(0)
       %></td>
     </tr>
     <tr>
       <td>3</td>
       <td><%=
      (#  year 1
      (@user.income.monthly_savings_goal * 12) + (@user.income.monthly_savings_goal * 12 * 0.03) +
      #  year 2
      (@user.income.monthly_savings_goal * 12 * 1.1) + (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      #  year 3
      (@user.income.monthly_savings_goal * 12 * 1.1**2) + (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      (@user.income.monthly_savings_goal * 12 * 0.015 * 1.1**2)).round(0)
       %></td>
       <td><%=
        (#  year 1
        (@user.income.monthly_savings_goal * 12 * 0.09) +
        #  year 2
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1) +
        #  year 3
        (@user.income.monthly_savings_goal * 12 * 0.045 * 1.1**2)).round(0)
         %></td>
       <td><%=
        (#  year 1
        (@user.income.monthly_savings_goal * 12 * 0.03) +
        #  year 2
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
        #  year 3
        (@user.income.monthly_savings_goal * 12 * 0.015 * 1.1**2)).round(0)
         %></td>
       <td><%=
        (#  year 1
        (@user.income.monthly_savings_goal * 12 * 0.09) +
        #  year 2
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1) +
        #  year 3
        (@user.income.monthly_savings_goal * 12 * 0.045 * 1.1**2) +
        #  year 1
        (@user.income.monthly_savings_goal * 12 * 0.03) +
        #  year 2
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
        #  year 3
        (@user.income.monthly_savings_goal * 12 * 0.015 * 1.1**2)).round(0)
         %></td>
     </tr>
     <tr>
       <td>4</td>
       <td><%=
      (#  year 1
      (@user.income.monthly_savings_goal * 12) + (@user.income.monthly_savings_goal * 12 * 0.03) +
      #  year 2
      (@user.income.monthly_savings_goal * 12 * 1.1) + (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      #  year 3
      (@user.income.monthly_savings_goal * 12 * 1.1**2) + (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
      # year 4
      (@user.income.monthly_savings_goal * 12 * 1.1**3) + (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
      (@user.income.monthly_savings_goal * 12 * 0.015 * 1.1**3)).round(0)
       %></td>
       <td><%=
        (#  year 1
        (@user.income.monthly_savings_goal * 12 * 0.09) +
        #  year 2
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1) +
        #  year 3
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**2) +
        #  year 4
        (@user.income.monthly_savings_goal * 12 * 0.045 * 1.1**3)).round(0)
         %></td>
       <td><%=
        (#  year 1
        (@user.income.monthly_savings_goal * 12 * 0.03) +
        #  year 2
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
        #  year 3
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
        #  year 4
        (@user.income.monthly_savings_goal * 12 * 0.015 * 1.1**3)).round(0)
         %></td>
       <td><%=
        (#  year 1
        (@user.income.monthly_savings_goal * 12 * 0.09) +
        #  year 2
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1) +
        #  year 3
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**2) +
        #  year 4
        (@user.income.monthly_savings_goal * 12 * 0.045 * 1.1**3) +
        #  year 1
        (@user.income.monthly_savings_goal * 12 * 0.03) +
        #  year 2
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
        #  year 3
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
        #  year 4
        (@user.income.monthly_savings_goal * 12 * 0.015 * 1.1**3)).round(0)
         %></td>
     </tr>
     <tr>
       <td>5</td>
       <td><%=
      (#  year 1
      (@user.income.monthly_savings_goal * 12) + (@user.income.monthly_savings_goal * 12 * 0.03) +
      #  year 2
      (@user.income.monthly_savings_goal * 12 * 1.1) + (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      #  year 3
      (@user.income.monthly_savings_goal * 12 * 1.1**2) + (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
      # year 4
      (@user.income.monthly_savings_goal * 12 * 1.1**3) + (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**3) +
      # year 5
      (@user.income.monthly_savings_goal * 12 * 1.1**4) + (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**3) +
      (@user.income.monthly_savings_goal * 12 * 0.015 * 1.1**4)).round(0)
       %></td>
       <td><%=
        (#  year 1
        (@user.income.monthly_savings_goal * 12 * 0.09) +
        #  year 2
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1) +
        #  year 3
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**2) +
        #  year 4
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**3) +
        #  year 5
        (@user.income.monthly_savings_goal * 12 * 0.045 * 1.1**4)).round(0)
         %></td>
       <td><%=
        (#  year 1
        (@user.income.monthly_savings_goal * 12 * 0.03) +
        #  year 2
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
        #  year 3
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
        #  year 4
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**3) +
        #  year 5
        (@user.income.monthly_savings_goal * 12 * 0.015 * 1.1**4)).round(0)
         %></td>
       <td><%=
        (#  year 1
        (@user.income.monthly_savings_goal * 12 * 0.09) +
        #  year 2
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1) +
        #  year 3
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**2) +
        #  year 4
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**3) +
        #  year 5
        (@user.income.monthly_savings_goal * 12 * 0.045 * 1.1**4) +
        #  year 1
        (@user.income.monthly_savings_goal * 12 * 0.03) +
        #  year 2
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
        #  year 3
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
        #  year 4
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**3) +
        #  year 5
        (@user.income.monthly_savings_goal * 12 * 0.015 * 1.1**4)).round(0)
         %></td>
     </tr>
     <tr>
       <td>6</td>
       <td><%=
      (#  year 1
      (@user.income.monthly_savings_goal * 12) + (@user.income.monthly_savings_goal * 12 * 0.03) +
      #  year 2
      (@user.income.monthly_savings_goal * 12 * 1.1) + (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      #  year 3
      (@user.income.monthly_savings_goal * 12 * 1.1**2) + (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
      # year 4
      (@user.income.monthly_savings_goal * 12 * 1.1**3) + (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**3) +
      # year 5
      (@user.income.monthly_savings_goal * 12 * 1.1**4) + (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**3) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**4) +
      # year 6
      (@user.income.monthly_savings_goal * 12 * 1.1**5) + (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**3) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**4) +
      (@user.income.monthly_savings_goal * 12 * 0.015 * 1.1**5)).round(0)
       %></td>
       <td><%=
        (#  year 1
        (@user.income.monthly_savings_goal * 12 * 0.09) +
        #  year 2
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1) +
        #  year 3
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**2) +
        #  year 4
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**3) +
        #  year 5
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**4) +
        #  year 6
        (@user.income.monthly_savings_goal * 12 * 0.045 * 1.1**5)).round(0)
         %></td>
       <td><%=
        (#  year 1
        (@user.income.monthly_savings_goal * 12 * 0.03) +
        #  year 2
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
        #  year 3
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
        #  year 4
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**3) +
        #  year 5
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**4) +
        #  year 6
        (@user.income.monthly_savings_goal * 12 * 0.015 * 1.1**5)).round(0)
         %></td>
       <td><%=
        (#  year 1
        (@user.income.monthly_savings_goal * 12 * 0.09) +
        #  year 2
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1) +
        #  year 3
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**2) +
        #  year 4
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**3) +
        #  year 5
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**4) +
        #  year 6
        (@user.income.monthly_savings_goal * 12 * 0.045 * 1.1**5) +
        #  year 1
        (@user.income.monthly_savings_goal * 12 * 0.03) +
        #  year 2
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
        #  year 3
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
        #  year 4
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**3) +
        #  year 5
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**4) +
        #  year 6
        (@user.income.monthly_savings_goal * 12 * 0.015 * 1.1**5)).round(0)
         %></td>
     </tr>
     <tr>
       <td>7</td>
       <td><%=
      (#  year 1
      (@user.income.monthly_savings_goal * 12) + (@user.income.monthly_savings_goal * 12 * 0.03) +
      #  year 2
      (@user.income.monthly_savings_goal * 12 * 1.1) + (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      #  year 3
      (@user.income.monthly_savings_goal * 12 * 1.1**2) + (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
      # year 4
      (@user.income.monthly_savings_goal * 12 * 1.1**3) + (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**3) +
      # year 5
      (@user.income.monthly_savings_goal * 12 * 1.1**4) + (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**3) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**4) +
      # year 6
      (@user.income.monthly_savings_goal * 12 * 1.1**5) + (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**3) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**4) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**5) +
      # year 7
      (@user.income.monthly_savings_goal * 12 * 1.1**6) +
      (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**3) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**4) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**5) +
      (@user.income.monthly_savings_goal * 12 * 0.015 * 1.1**6)).round(0)
       %></td>
       <td><%=
        (#  year 1
        (@user.income.monthly_savings_goal * 12 * 0.09) +
        #  year 2
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1) +
        #  year 3
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**2) +
        #  year 4
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**3) +
        #  year 5
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**4) +
        #  year 6
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**5) +
        #  year 7
        (@user.income.monthly_savings_goal * 12 * 0.045 * 1.1**6)).round(0)
         %></td>
       <td><%=
        (#  year 1
        (@user.income.monthly_savings_goal * 12 * 0.03) +
        #  year 2
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
        #  year 3
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
        #  year 4
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**3) +
        #  year 5
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**4) +
        #  year 6
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**5) +
        #  year 7
        (@user.income.monthly_savings_goal * 12 * 0.015 * 1.1**6)).round(0)
         %></td>
       <td><%=
        (#  year 1
        (@user.income.monthly_savings_goal * 12 * 0.09) +
        #  year 2
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1) +
        #  year 3
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**2) +
        #  year 4
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**3) +
        #  year 5
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**4) +
        #  year 6
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**5) +
        #  year 7
        (@user.income.monthly_savings_goal * 12 * 0.045 * 1.1**6) +
        #  year 1
        (@user.income.monthly_savings_goal * 12 * 0.03) +
        #  year 2
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
        #  year 3
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
        #  year 4
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**3) +
        #  year 5
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**4) +
        #  year 6
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**5) +
        #  year 7
        (@user.income.monthly_savings_goal * 12 * 0.015 * 1.1**6)).round(0)
         %></td>
     </tr>
     <tr>
       <td>8</td>
       <td><%=
      (#  year 1
      (@user.income.monthly_savings_goal * 12) + (@user.income.monthly_savings_goal * 12 * 0.03) +
      #  year 2
      (@user.income.monthly_savings_goal * 12 * 1.1) + (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      #  year 3
      (@user.income.monthly_savings_goal * 12 * 1.1**2) + (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
      # year 4
      (@user.income.monthly_savings_goal * 12 * 1.1**3) + (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**3) +
      # year 5
      (@user.income.monthly_savings_goal * 12 * 1.1**4) + (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**3) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**4) +
      # year 6
      (@user.income.monthly_savings_goal * 12 * 1.1**5) + (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**3) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**4) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**5) +
      # year 7
      (@user.income.monthly_savings_goal * 12 * 1.1**6) +
      (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**3) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**4) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**5) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**6) +
      # year 8
      (@user.income.monthly_savings_goal * 12 * 1.1**7) +
      (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**3) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**4) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**5) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**6) +
      (@user.income.monthly_savings_goal * 12 * 0.015 * 1.1**7)).round(0)
       %></td>
       <td><%=
        (#  year 1
        (@user.income.monthly_savings_goal * 12 * 0.09) +
        #  year 2
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1) +
        #  year 3
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**2) +
        #  year 4
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**3) +
        #  year 5
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**4) +
        #  year 6
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**5) +
        #  year 7
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**6) +
        #  year 8
        (@user.income.monthly_savings_goal * 12 * 0.045 * 1.1**7)).round(0)
         %></td>
       <td><%=
        (#  year 1
        (@user.income.monthly_savings_goal * 12 * 0.03) +
        #  year 2
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
        #  year 3
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
        #  year 4
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**3) +
        #  year 5
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**4) +
        #  year 6
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**5) +
        #  year 7
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**6) +
        #  year 8
        (@user.income.monthly_savings_goal * 12 * 0.015 * 1.1**7)).round(0)
         %></td>
       <td><%=
        (#  year 1
        (@user.income.monthly_savings_goal * 12 * 0.09) +
        #  year 2
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1) +
        #  year 3
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**2) +
        #  year 4
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**3) +
        #  year 5
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**4) +
        #  year 6
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**5) +
        #  year 7
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**6) +
        #  year 8
        (@user.income.monthly_savings_goal * 12 * 0.045 * 1.1**7) +
        #  year 1
        (@user.income.monthly_savings_goal * 12 * 0.03) +
        #  year 2
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
        #  year 3
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
        #  year 4
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**3) +
        #  year 5
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**4) +
        #  year 6
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**5) +
        #  year 7
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**6) +
        #  year 8
        (@user.income.monthly_savings_goal * 12 * 0.015 * 1.1**7)).round(0)
         %></td>
     </tr>
     <tr>
       <td>9</td>
       <td><%=
      (#  year 1
      (@user.income.monthly_savings_goal * 12) + (@user.income.monthly_savings_goal * 12 * 0.03) +
      #  year 2
      (@user.income.monthly_savings_goal * 12 * 1.1) + (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      #  year 3
      (@user.income.monthly_savings_goal * 12 * 1.1**2) + (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
      # year 4
      (@user.income.monthly_savings_goal * 12 * 1.1**3) + (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**3) +
      # year 5
      (@user.income.monthly_savings_goal * 12 * 1.1**4) + (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**3) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**4) +
      # year 6
      (@user.income.monthly_savings_goal * 12 * 1.1**5) + (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**3) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**4) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**5) +
      # year 7
      (@user.income.monthly_savings_goal * 12 * 1.1**6) +
      (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**3) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**4) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**5) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**6) +
      # year 8
      (@user.income.monthly_savings_goal * 12 * 1.1**7) +
      (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**3) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**4) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**5) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**6) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**7) +
      # year 9
      (@user.income.monthly_savings_goal * 12 * 1.1**8) +
      (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**3) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**4) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**5) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**6) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**7) +
      (@user.income.monthly_savings_goal * 12 * 0.015 * 1.1**8)).round(0)
       %></td>
       <td><%=
        (#  year 1
        (@user.income.monthly_savings_goal * 12 * 0.09) +
        #  year 2
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1) +
        #  year 3
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**2) +
        #  year 4
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**3) +
        #  year 5
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**4) +
        #  year 6
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**5) +
        #  year 7
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**6) +
        #  year 8
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**7) +
        #  year 9
        (@user.income.monthly_savings_goal * 12 * 0.045 * 1.1**8)).round(0)
         %></td>
       <td><%=
        (#  year 1
        (@user.income.monthly_savings_goal * 12 * 0.03) +
        #  year 2
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
        #  year 3
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
        #  year 4
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**3) +
        #  year 5
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**4) +
        #  year 6
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**5) +
        #  year 7
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**6) +
        #  year 8
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**7) +
        #  year 9
        (@user.income.monthly_savings_goal * 12 * 0.015 * 1.1**8)).round(0)
         %></td>
       <td><%=
        (#  year 1
        (@user.income.monthly_savings_goal * 12 * 0.09) +
        #  year 2
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1) +
        #  year 3
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**2) +
        #  year 4
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**3) +
        #  year 5
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**4) +
        #  year 6
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**5) +
        #  year 7
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**6) +
        #  year 8
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**7) +
        #  year 9
        (@user.income.monthly_savings_goal * 12 * 0.045 * 1.1**8) +
        #  year 1
        (@user.income.monthly_savings_goal * 12 * 0.03) +
        #  year 2
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
        #  year 3
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
        #  year 4
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**3) +
        #  year 5
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**4) +
        #  year 6
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**5) +
        #  year 7
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**6) +
        #  year 8
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**7) +
        #  year 9
        (@user.income.monthly_savings_goal * 12 * 0.015 * 1.1**8)).round(0)
         %></td>
     </tr>
     <tr>
       <td>10</td>
       <td><%=
      (#  year 1
      (@user.income.monthly_savings_goal * 12) + (@user.income.monthly_savings_goal * 12 * 0.03) +
      #  year 2
      (@user.income.monthly_savings_goal * 12 * 1.1) + (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      #  year 3
      (@user.income.monthly_savings_goal * 12 * 1.1**2) + (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
      # year 4
      (@user.income.monthly_savings_goal * 12 * 1.1**3) + (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**3) +
      # year 5
      (@user.income.monthly_savings_goal * 12 * 1.1**4) + (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**3) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**4) +
      # year 6
      (@user.income.monthly_savings_goal * 12 * 1.1**5) + (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**3) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**4) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**5) +
      # year 7
      (@user.income.monthly_savings_goal * 12 * 1.1**6) +
      (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**3) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**4) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**5) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**6) +
      # year 8
      (@user.income.monthly_savings_goal * 12 * 1.1**7) +
      (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**3) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**4) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**5) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**6) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**7) +
      # year 9
      (@user.income.monthly_savings_goal * 12 * 1.1**8) +
      (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**3) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**4) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**5) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**6) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**7) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**8) +
      # year 10
      (@user.income.monthly_savings_goal * 12 * 1.1**9) +
      (@user.income.monthly_savings_goal * 12 * 0.03) + (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**3) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**4) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**5) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**6) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**7) +
      (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**8) +
      (@user.income.monthly_savings_goal * 12 * 0.015 * 1.1**9)).round(0)
       %></td>
       <td><%=
        (#  year 1
        (@user.income.monthly_savings_goal * 12 * 0.09) +
        #  year 2
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1) +
        #  year 3
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**2) +
        #  year 4
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**3) +
        #  year 5
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**4) +
        #  year 6
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**5) +
        #  year 7
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**6) +
        #  year 8
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**7) +
        #  year 9
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**8) +
        #  year 10
        (@user.income.monthly_savings_goal * 12 * 0.045 * 1.1**9)).round(0)
         %></td>
       <td><%=
        (#  year 1
        (@user.income.monthly_savings_goal * 12 * 0.03) +
        #  year 2
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
        #  year 3
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
        #  year 4
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**3) +
        #  year 5
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**4) +
        #  year 6
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**5) +
        #  year 7
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**6) +
        #  year 8
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**7) +
        #  year 9
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**8) +
        #  year 10
        (@user.income.monthly_savings_goal * 12 * 0.015 * 1.1**9)).round(0)
         %></td>
       <td><%=
        (#  year 1
        (@user.income.monthly_savings_goal * 12 * 0.09) +
        #  year 2
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1) +
        #  year 3
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**2) +
        #  year 4
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**3) +
        #  year 5
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**4) +
        #  year 6
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**5) +
        #  year 7
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**6) +
        #  year 8
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**7) +
        #  year 9
        (@user.income.monthly_savings_goal * 12 * 0.09 * 1.1**8) +
        #  year 10
        (@user.income.monthly_savings_goal * 12 * 0.045 * 1.1**9) +
        #  year 1
        (@user.income.monthly_savings_goal * 12 * 0.03) +
        #  year 2
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1) +
        #  year 3
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**2) +
        #  year 4
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**3) +
        #  year 5
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**4) +
        #  year 6
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**5) +
        #  year 7
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**6) +
        #  year 8
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**7) +
        #  year 9
        (@user.income.monthly_savings_goal * 12 * 0.03 * 1.1**8) +
        #  year 10
        (@user.income.monthly_savings_goal * 12 * 0.015 * 1.1**9)).round(0)
         %></td>
     </tr>
   </tbody>
 </table>
   <body>
   *In the example above, 'Total Savings and Cash Back' includes amounts you have contributed into your Cache Savings Plan and the value of cash awards contributed by Cache. It does not include the 'Total Cache Awards', which are amounts that can be used at participating merchants but cannot be redeemed or withdrawn for cash.
   <br><br>
   </body>
 </div>
