<div class = "card-panel">
    <h5>You currently have: </h5>
    <br>
    <h6>Total Savings: $<%= @total %> {Savings Progress to $<%= @x %>} <%= link_to 'Top Up', transactions_new_path %> </h6>
    <div class="progress">
      <div class="determinate" style="width: <%= @percentage_from_final_goal %>%"></div>
    </div>

    <h6>Cash Back: $<%= @cashback %></h6>
    <div class="progress">

      <div class="determinate" style="width: <%= (@cashback/@total.to_f) * 100%>%"></div>

    </div>

    <h6>Cache Dollars: $<% if @credit-@rewarding <0 %>
      <%= 0 %>
      <% else %><%= @credit - @rewarding%>
    <% end %></h6>
    <div class="progress">

        <div class="determinate" style="width: <%= ((@credit - @rewarding)/ @total.to_f )* 100%>%"></div>

    </div>
    <p>Total Cache Dollars Used: $<%= @rewarding %></p>
</div>
