<div class = "card-panel">
    <h5>You currently have: </h5>
    <br>
    <h6>Total Savings: $<%= @total %> {Savings Progress to $<%= @x %>} <%= link_to 'Top Up', transactions_new_path %> </h6>
    <div class="progress">
      <div class="determinate" style="width: <%= @percentage_from_final_goal %>%"></div>
    </div>

    <h6>Cash Back: $<%= @cashback %></h6>
    <div class="progress">
      <div class="determinate" style="width: <%= @cashback%>%"></div>
    </div>

    <h6>Cache Dollars: $<%= @credit - @rewarding%></h6>
    <div class="progress">
        <div class="determinate" style="width: <%= @credit - @rewarding%>%"></div>
    </div>
    <p>Total Cache Dollars Used: $<%= @rewarding %></p>
</div>
