<div class="container">

  <h3 class="title center">Welcome to your Rewards Page</h3>

  <%= render 'rewards/progressbar' %>

<% if @total > 0 %>
    <p class='center purple-text darken-3'><%= @milestone_savings.fetch(@total, @random_message) %> <%= @user.first_name %></p>
<% end  %>
    <div class='row center-align'>
      <%= link_to 'View Claimed Rewards', '#modal3', class: "modal-trigger waves-effect waves-light btn" %>
    </div>

  <%= render 'rewards/claimed' %>
  <%= render 'rewards/list' %>

  <br>

</div>
