<div class="container">

  <%= link_to('Back to Rewards List', rewards_path, :method => :get) %>

  <h3>I want to claim { <%=@rewards.item %> }</h3>

<div class= 'center-align'>
  <%= image_tag("#{@rewards.id}.jpg")%>
</div>

  <p class='center purple-text darken-3'>The promotion code for <%=@rewards.merchant%> will be shown on the next page after clicking on the Claim button below!</p>

  <%= link_to "Claim", claimed_path, :id => @rewards.id, class: "waves-effect waves-light btn", method: :post%>

  <br>
  <br>
</div>
