<h1>Confirmation Page</h1>


<p>Picture of the Retailer Coupon</p>
<p>or print out the details</p>


<%=@rewards.item%>
<%=@rewards.merchant%>
<%=@rewards.value%>
<%=@rewards.expiry%>
<%=@rewards.category%>


<%= link_to "Claim", claimed_path, :id => @rewards.id, class: "button is-primary",method: :post%>
