<div class="container">

  <br>

  <%= link_to('Back to Rewards List', rewards_path, :method => :get) %>

  <h3 class="title center">I want to claim </h3>
  <h4 class="title center">{ <%=@rewards.item %> }</h4>

  <p class = "center"><em>Current Cache Dollars:</em> $<%= @credit - @rewarding%> <em>Cache Value for Reward:</em> $<%=@rewards.value %></p>


<div class= 'center-align'>
  <%= image_tag("#{@rewards.id}.jpg")%>
</div>

  <p class='center purple-text darken-3'>The promotion code for <%=@rewards.merchant%> will be shown on the next page after clicking on the Claim button below!</p>
<div class='row center-align'>
  <%= link_to "Claim", claimed_path, :id => @rewards.id, class: "waves-effect waves-light btn", method: :post%>
</div>

  <h3 class = "title center">Outlets Nearby</h3>
<%= render 'partials/maps' %>
<br>

</div>
