<nav>
  <ul class="navbar">
    <li class="navitems"><%= link_to('My Savings', transactions_path, :method => :get) %></li>
    <li class="navitems"><%= link_to('Analysis', analysis_index_path, :method => :get) %></li>
    <li class="navitems"><%= link_to('Rewards', rewards_path, :method => :get) %></li>
    <li class="navitems"><%= link_to("Profile", edit_profile_path(current_user.id), :method => "get") %></li>
    <li class="navitems"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
  </ul>
</nav>
