<nav>
    <div class="nav-wrapper">
      <a href="/transactions" class="brand-logo">Cache</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to('My Savings', transactions_path, :method => :get) %></li>
        <li><%= link_to('Analysis', analysis_index_path, :method => :get) %></li>
        <li><%= link_to('Rewards', rewards_path, :method => :get) %></li>
        <li><%= link_to('Profile', edit_profile_path(current_user.id), :method => :get) %></li>
        <li><%= link_to("Logout", destroy_user_session_path,:method => :delete)%></li>
      </ul>
    </div>
  </nav>
