<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Cache</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to('Profile', profiles_path, :method => :get) %></li>
        <li><%= link_to('Analysis', analysis_index_path, :method => :get) %></li>
        <li><%= link_to('Dashboard', transactions_path, :method => :get) %></li>
        <li><%= link_to('Rewards', rewards_path, :method => :get) %></li>
        <li><%= link_to("Login", new_user_session_path,:method => :get)%></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><%= link_to('Profile', profiles_path, :method => :get) %></li>
        <li><%= link_to('Analysis', analysis_index_path, :method => :get) %></li>
        <li><%= link_to('Dashboard', transactions_path, :method => :get) %></li>
        <li><%= link_to('Rewards', rewards_path, :method => :get) %></li>
        <li><%= link_to("Login", new_user_session_path,:method => :get)%></li>
      </ul>
    </div>
</nav>
