<section class="section">


  <%= form_for :date, url: transactions_path do |f| %>

    <div class="field">
      <%= f.label :From, class: 'label' %>
      <p class="control">
        <%= f.date_field :transacted_date, class: 'input' %>
      </p>
    </div>

    <div class="field">
      <%= f.label :To, class: 'label' %>
      <p class="control">
        <%= f.date_field :transacted_date, class: 'input' %>
      </p>
    </div>

    <div class="field">
      <p class="control">
        <%= f.submit 'Submit', class: 'button is-primary' %>
      </p>
    </div>
  <% end %>


</section>
<%= @date %>
