
Total Savings: <%= @total %>
Credits: <%= @total * 0.0075 %>
<br />
<br />
<a href = '<%= transactions_new_path%>'>Top Up</a>
<a href = '<%= rewards_path%>'>Rewards</a>
<a href = '<%= transactions_withdraw_path%>'>Withdraw</a>
<br />


<table>
<thead>
  <th>
  Transaction Date:
  Transaction Amount:
  </th>
</thead>
<tbody>
  <% @sumofmoney.each do |tran| %>
<tr>
<td>
 <%= tran.transacted_date %>
 $<%= tran.transacted_amount %>
</td>
</tr>
<%end%>
</tbody>
</table>
