<div class="container">

  <h3 class="title center">My Cache Savings</h3>

    <%= render 'rewards/progressbar' %>
    <div class='row center-align'>
        <%= link_to'Complete Profile', edit_profile_path(current_user.id), class: "waves-effect waves-light btn" %>
        <%= link_to 'Top Up', transactions_new_path, class: "waves-effect waves-light btn" %>
        <%= link_to 'Withdraw', transactions_withdraw_path, class: "waves-effect waves-light btn" %>
        <%= link_to('Rewards', rewards_path, class: "waves-effect waves-light btn") %>
    </div><br />
    <h5 class="center">Select Transaction Date</h5>
    <br>
    <div class = "row center">
    <form class="" method="GET">
      <div class="input-field col s4">
        <input type="date" name="from" value=""></div>
            <div class="input-field col s4"><input type="date" name="to" value=""></div><br />
      <div class="row waves-effect waves-light btn"><input type="submit" name="Submit" value="submit"></div>
    </form>
  </div>


  <h3 class="title center">Transaction History</h3>
    <table class="responsive-table bordered centered">
      <thead>
        <th>Transaction Date (yyyy/mm/dd)</th>
        <th>Transaction Amount ($)</th>
      </thead>
      <tbody>
        <% @sumofmoney.each do |tran| %>
          <tr>
            <td><%= tran.transacted_date %></td>
            <td><%= tran.transacted_amount %></td>
          </tr>
        <%end%>
      </tbody>
    </table>
</div>

<br>
<br>
<br>
