<section class="section">
  <h1 class="title">Top Up</h1>

  <%= form_for :transaction, url: transactions_new_path do |f| %>
  <%= :transaction %>
    <div class="field">
      <%= f.label :transacted_amount, class: 'label' %>
      <p class="control">
        <%= f.text_field :transacted_amount, class: 'input' %>
      </p>
    </div>

    <div class="field">
      <%= f.label :transaction_date, class: 'label' %>
      <p class="control">
        <%= f.date_field :transacted_date, class: 'input' %>
      </p>
    </div>

    <div class="field">
      <%= f.label :transaction_no, class: 'label' %>
      <p class="control">
        <%= f.text_field :transaction_no, class: 'input' %>
      </p>
    </div>

    <div class="field">
      <p class="control">
        <%= f.submit 'Submit', class: 'button is-primary' %>
      </p>
    </div>
  <% end %>
  <%= form_tag transactions_new_path do %>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
      <label class="amount">
        <span>Amount: <%= number_to_currency(@amount * 100) %></span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="Desposit"
            data-amount="<%= @amount %>"
            data-locale="auto"></script>
  <% end %>


</section>
