<section class="section">
  <h1 class="title">Withdraw</h1>

  <%= form_for :withdraw, url: transactions_withdraw_path, method: :put do |f| %>

    <div class="field">
      <%= f.label :transacted_amount, class: 'label' %>
      <p class="control">
        <%= f.number_field :transacted_amount, class: 'input' %>
      </p>
    </div>

    <div class="field">
      <%= f.label :transaction_date, class: 'label' %>
      <p class="control">
        <%= f.date_field :transacted_date, class: 'input' %>
      </p>
    </div>

    <div class="field">
      <%= f.label :transaction_no, class: 'label' %>
      <p class="control">
        <%= f.number_field :transaction_no, class: 'input' %>
      </p>
    </div>



    <div class="field">
      <p class="control">
        <%= f.submit 'Submit', class: 'button is-primary' %>
      </p>
    </div>
  <% end %>


</section>
