<div class="container">
  <section class="section">
    <h1 class="title center">Withdraw</h1>

    <%= link_to "Go back to My Savings", transactions_path %>

    <%= render 'rewards/progressbar' %>


    <br>

    <%= form_for :withdraw, url: transactions_withdraw_path, method: :put do |f| %>

      <div class="field">
        <%= f.label :transacted_amount, 'Withdrawal Amount ($):', class: 'label' %>
        <p class="control">
          <%= f.number_field :transacted_amount, class: 'input' %>
        </p>
      </div>


      <div class="field">
        <p class="control">
          <%= f.submit 'Submit', class: 'waves-effect waves-light btn' %>
        </p>

      </div>
    <% end %>

  </section>
</div>
