<!DOCTYPE html>
<html>
  <head>
    <title>Cache</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Questrial', media: 'all' %>
  </head>

  <body>

    <% if user_signed_in? %>
        <%= render 'partials/nav' %>
        <% else %>
        <%=render 'partials/publicnav' %>
    <%end%>


    <div class = "devise-alerts">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <%= yield %>
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  </body>
  <%= render 'partials/footer' %>
</html>
